    <div class="container mt-3 text-white">
        <div class="text-center text-dark">
        <h2>CRUD COM NODE.JS</h2>
        <p>Atualização de Usuário</p>
        </div>
        <form action="controllerUpdate" method="POST" class="bg-dark p-4 mt-2">
        {{#dados}}
        <div class="mb-3 mt-3">
            <label for="nome" class="form-label">Nome:</label>
            <input type="nome" class="form-control" name="nome" value="{{nome}}">
        </div>
        <div class="mb-3">
            <label for="pwd" class="form-label">Email:</label>
            <input type="email" class="form-control" name="email" value="{{email}}">
        </div>
        <div class="mb-3">
            <label for="pwd" class="form-label">Telefone:</label>
            <input type="telefone" class="form-control" name="telefone" value="{{telefone}}">
        </div>
        <div class="mb-3">
            <label for="pwd" class="form-label">Data de Nascimento:</label>
            <input type="date" class="form-control"  name="nascimento" value="{{nascimento}}">
        </div>
        <input type="hidden" name="id" value="{{id}}">
        <button type="submit" class="btn btn-primary">ATUALIZAR</button>
        {{/dados}}
        </form>
    </div>